<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

	 <test name="Setup">
		<classes>
			<class name="Setup" />
		</classes>
	</test>
      <!-- <test name="Registration">
		<classes>
			<class name="Registration" />
		</classes>
	</test>     -->
	<test name="Login">
		<classes>
			<class name="Login" />
		</classes>
	</test> 
	    
	  <test name="SearchSpa">
		<classes>
			<class name="SearchSpa" />
		</classes>
	 </test>   
	 <!--   <test name="Hamburger">
		<classes>
			<class name="Hamburger" />
		</classes>
	</test> 
	
	 <test name="Logout">
		<classes>
			<class name="Logout" />
		</classes>
	</test>    -->
	

</suite> <!-- Suite -->